<h2>Kayıt Ol</h2>
<form method="post">
    <div>
        <label>Kullanıcı Adı:</label>
        <input type="text" name="Username" required />
    </div>
    <div>
        <label>Şifre:</label>
        <input type="password" name="Password" required />
    </div>
    <button type="submit">Kayıt Ol</button>
</form>
<a href="/Auth/Login">Giriş Yap</a>
