@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h2>Admin Paneli</h2>

<div class="list-group">
    <a href="/Admin/ListUsers" class="list-group-item list-group-item-action">Üyeleri Yönet</a>
    <a href="/Admin/ListFilesAndResults" class="list-group-item list-group-item-action">Dosya & Sonuçları Yönet</a>
    <a href="/Profile/Dashboard" class="list-group-item list-group-item-action">Kullanıcı Menü</a>
</div>
