@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Bilgilendirme Sayfası</h2>
<p>Bu sayfa, MobSecLab hakkında bilgiler içerir.</p>
<a class="btn btn-primary" href="/Home/Index">Ana Sayfaya Dön</a>
